* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(29, 29, 29);
  font-size: 60px;
}

h2 {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}